# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# 测试文件
/coverage

# 快照文件
**/__snapshots__/

# misc
.idea
.DS_Store

yarn-debug.log*
yarn-error.log*
