.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  min-width: 1330px;
  min-height: 600px;
  background: #cccccc;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
  background-color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-tabs-tab {
  width: 100%;
  text-align: center;
}
.icon-row {
  position: relative;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.login-form {
  margin-top: 30px !important;
  width: 100%;
}

.App-ledger {
  position: relative;
  width: 80%;
  height: 75%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0,0,0,.35);
  box-sizing: border-box;
  padding: 18px;
  overflow-y: scroll;
}
.App-layout-row {
  position: relative;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
}
.App-layout-col {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.App-rotate-icon {
  color: gold;
  /*animation: App-logo-spin infinite 5s linear;*/
}
.App-add-record {
  width: 100%;
  height: 40px;
  margin-top: 5px;
}
.App-table-th {
  font-weight: bold;
}
.App-title-font {
  font-size: 20px;
  font-weight: 500;
}
.category-icon {
  text-align: center;
  cursor: pointer;
}
.active {
  color: #ffffff;
  background: #ff9900;
}
